    <!DOCTYPE html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <meta charset="utf-8" />
            <link rel="stylesheet" href="https://ruben427.github.io/es-heating---clixz---1024/components/offerte-sheet.css" />
        </head>
        <body>
          
	<div class="col-main">
		<!-- Quote header -->
		<div class="quote-header">
			<div class="quote-header__top">
				<p>
					<a class="atom-button" href="index.html">
						<img
							class="atom-button__icon"
							src="https://c.animaapp.com/mpwog1i9v9lJ2w/img/icon-left.svg"
							alt=""
						/>
						<span class="atom-button__text"
							>terug naar het overzicht</span
						>
					</a>
				</p>
				<p class="quote-intro-text">
					Deze offertelink heeft een maximale duur van 1 maand. Aan de
					rechterkant kunt u alle benodigde documenten downloaden voor
					uw eigen administratie.
				</p>
			</div>
			<div class="quote-meta">
				<div class="quote-title">Je persoonlijke koop offerte</div>
				<p class="quote-datum">
					<span class="quote-datum__date"
						>Datum: #Int_HK.Quotedateconvert# - </span
					><span class="quote-datum__version">
						#Int_HK.Offerteversie#</span
					>
				</p>
			</div>
		</div>
		<!-- ══ SECTIE A: zonder aantal-kolom ══ -->
		<table>
			<tr>
				<td>
					<div class="offerte-sectie offerte-sectie--no-qty">
						<div class="offerte-regel">
							<div class="row-product">
								<!-- Rechts: prijs (vaste breedte, geen aantal) -->
								<div class="col-right">
									<div class="col-price">
										<div class="field-header">
											<div class="field-label-wrap">
												<span class="field-label">Prijs</span>
											</div>
											<div class="field-divider"></div>
										</div>
										<div class="field-value-price">
											#Int_HK.Huurprijs#
										</div>
									</div>
								</div>
								<!-- Links: omschrijving (groeit mee) -->
								<div class="col-left">
									<div class="col-description">
										<div class="field-header">
											<div class="field-label-wrap">
												<span class="field-label">Product type</span>
											</div>
											<div class="field-divider"></div>
										</div>
										<div class="field-value">
											#Int_HK.EquipmentTypeName# -
											#Int_HK.EquipmentDescription#
										</div>
									</div>
								</div>
							</div>>
						</div>
					</div>
				</td>
			</tr>
		</table> 
		<table>
			<tr>
				<td>
					<div class="offerte-sectie offerte-sectie--with-qty">
						<div class="offerte-regel">
								<div class="row-product">
										<!-- Rechts: aantal + prijs (elk 120px) -->
										<div class="col-right">
												<div class="col-price">
														<div class="field-header">
																<div class="field-label-wrap">
																		<span class="field-label">Prijs</span>
																</div>
																<div class="field-divider"></div>
														</div>
														<div class="field-value-price">#Int_HK.Huurprijs#</div>
												</div>
										</div>
										<!-- Links: omschrijving (groeit mee) -->
										<div class="col-left">
												<div class="col-description">
														<div class="field-header">
																<div class="field-label-wrap">
																		<span class="field-label">Product type</span>
																</div>
																<div class="field-divider"></div>
														</div>
														<div class="field-value">
																#Int_HK.EquipmentTypeName# - #Int_HK.EquipmentDescription#
														</div>
												</div>
										</div>
								</div>
						</div>
					</td>
				</tr>
			</table>
				[HasThermostaatBolean]#Int_HK.Int_thermostaat#[/HasThermostaatBolean] [HasMeerwerkBolean]#Int_HK.Int_MeerwerkHuur#[/HasMeerwerkBolean] [HasKortingenBolean]#Int_HK.Int_Kortingen#[/HasKortingenBolean]
								<!-- Totaal box -->
			<div class="totaal-box">
					<div class="totaal-row">
							<div class="totaal-label">
									Eenmalige factuur (incl. btw):
							</div>
							<div class="totaal-price">
									#Int_HK.EenmaligHuur#
							</div>
					</div>
			</div>
			<div class="goed-om-te-weten">
					<div class="gotw-title">
							Goed om te weten
					</div>
					<div class="gotw-body">
							#Int_HK.OpmerkingenKlant#
					</div>
			</div>
	</div>
					
</body>

    
