<link
  href="https://ruben427.github.io/es-heating---clixz---1024/components/tile.css"
  rel="stylesheet"
/>

<table style="border-collapse: collapse;" width="100%">
  <tbody>
    <tr>
      <td>
        <div class="tile">
          <div class="tile__top">
            <div class="tile__badge-row">
              <div class="tile__badge">
                <span class="tile__badge-text">#QuoteKindName#</span>
              </div>
            </div>

            <div class="tile__content">
              <div class="tile__title">#CategoryName#</div>

              <div class="tile__subtitle">
                #BrandName# - #EquipmentModelName#
              </div>
            </div>
          </div>

          <div class="tile__bottom">
            <a class="tile__button" href="#Link#"
              ><span class="tile__button-text">Bekijk de offerte</span>
            </a>

            <div class="tile__version">
              <span class="tile__version-text">versie #QuoteVersionName#</span>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
